<div class="jumbotron indent col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators" style="visibility: hidden">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/main/1.jpg" alt="...">
            </div>
            <div class="item">
                <img src="images/main/2.jpg" alt="...">
            </div>
            <div class="item">
                <img src="images/main/3.jpg" alt="...">
            </div>
            <div class="item">
                <img src="images/main/4.jpg" alt="...">
            </div>
        </div>
    </div>
    <div class="text">
        <strong>О компании</strong>
        <br>
        Мы построили множество домов самых разных стилей, концепций и размеров. Каждый индивидуален, но мы уверены, что
        люди, живущие в них, получают огромное удовольствие от красоты натурального дерева, чистого ароматного воздуха и
        близости к природе.
        <br>
        Коттеджи «FinnVilla» крепки и долговечны, поэтому они вполне могут стать родовым гнездом, под крышей которого
        будут жить и встречаться самые близкие люди. Строительство жилых домов для нас не просто бизнес, это целая
        философия, учение жизни, гармонии и семейного благополучия.
        <br>
        <strong>Материалы и экология</strong>
        <br>
        Качество строительного материала – ключевой фактор, определяющий прочность, долговечность и комфортность дома.
        Наиболее благоприятными для проживания считаются деревянные коттеджи, а хвойные породы лучше всего подходят для
        их возведения. Но и среди хвойных есть свои фавориты.
        <br>
        Финская сосна занимает особое место, очень немногие породы могут сравниться с ней по плотности,
        воздухопроницаемости, теплопроводности и красоте рисунка. Суровая природа Финляндии замедляет рост леса,
        благодаря чему древесина имеет большую плотность, меньшую влажность и повышенную прочность.
        <br>
        Клееный брус, изготовленный из финской сосны, обладает превосходными характеристиками: он очень прочен,
        практически не поддается гниению, не растрескивается и способен сохранять эти свойства десятилетиями. Мы считаем
        северный лес лучшим материалом. Дома, построенные из финского бруса, сохраняют особый микроклимат и уютную
        атмосферу в любое время года.
        <br>
        <strong>Материалы и экология</strong>
        <br>
        Бревенчатый дом — подарок окружающей среде. Деревянные постройки наиболее экологичны, они не наносят вреда
        среде. Современные технологии позволяют обрабатывать дерево очень экономично, практически безотходно,
        минимизируя таким образом опосредованные нагрузки на природу.
        <br>
        Дома, изготовленные нами, соответствуют самым высоким международным стандартам, как строительным, так и
        экологическим. Мы строго следим за соблюдением требований по охране окружающей среды на всех этапах
        производственного процесса.
        <br>
        <strong>Производство</strong>
        <br>
        Для обработки клееного бруса и сопутствующих материалов нами был создан современный деревообрабатывающий завод в
        Обнинске. Здесь из финского сырья создаются готовые дома, полностью соответствующие проектам. Готовые сборочные
        пакеты поставляются на площадку и там за короткое время превращаются в полноценные коттеджи.
        <br>
        Основная производственная линия – автоматизированный комплекс нового поколения, включающий строгальный и
        отделочный станки, предназначенные как для единичного, так и для поточного производства. Ее главное достоинство
        в точности, экономичности и бережной обработке древесины, позволяющей сохранить ее качества.
        <br>
        Весь процесс строительства, начиная от выбора материала и заканчивая отделочными работами, находится под строгим
        экспертным контролем.
    </div>
</div>

<script>
    $('.carousel').carousel({
        interval: 4000
    })
</script>
