<div class="jumbotron indent col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <!--<h1>'Allo, 'Allo!</h1>-->
  <!--<p class="lead">-->
    <!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
    <!--Always a pleasure scaffolding your apps.-->
  <!--</p>-->
  <!--<p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
<!--</div>-->

<!--<div class="row marketing">-->
  <!--<h4>HTML5 Boilerplate</h4>-->
  <!--<p>-->
    <!--HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.-->
  <!--</p>-->

  <!--<h4>Angular</h4>-->
  <!--<p>-->
    <!--AngularJS is a toolset for building the framework most suited to your application development.-->
  <!--</p>-->

  <!--<h4>Karma</h4>-->
  <!--<p>Spectacular Test Runner for JavaScript.</p>-->
    <div class="text">
        <strong>О компании</strong>
        <br>
        Мы построили множество домов самых разных стилей, концепций и размеров. Каждый индивидуален, но мы уверены, что
        люди, живущие в них, получают огромное удовольствие от красоты натурального дерева, чистого ароматного воздуха и
        близости к природе.
        <br>
        Коттеджи «FinnVilla» крепки и долговечны, поэтому они вполне могут стать родовым гнездом, под крышей которого
        будут жить и встречаться самые близкие люди. Строительство жилых домов для нас не просто бизнес, это целая
        философия, учение жизни, гармонии и семейного благополучия.
        <br>
        <strong>Материалы и экология</strong>
        <br>
        Качество строительного материала – ключевой фактор, определяющий прочность, долговечность и комфортность дома.
        Наиболее благоприятными для проживания считаются деревянные коттеджи, а хвойные породы лучше всего подходят для
        их возведения. Но и среди хвойных есть свои фавориты.
        <br>
        Финская сосна занимает особое место, очень немногие породы могут сравниться с ней по плотности,
        воздухопроницаемости, теплопроводности и красоте рисунка. Суровая природа Финляндии замедляет рост леса,
        благодаря чему древесина имеет большую плотность, меньшую влажность и повышенную прочность.
        <br>
        Клееный брус, изготовленный из финской сосны, обладает превосходными характеристиками: он очень прочен,
        практически не поддается гниению, не растрескивается и способен сохранять эти свойства десятилетиями. Мы считаем
        северный лес лучшим материалом. Дома, построенные из финского бруса, сохраняют особый микроклимат и уютную
        атмосферу в любое время года.
        <br>
        <strong>Материалы и экология</strong>
        <br>
        Бревенчатый дом — подарок окружающей среде. Деревянные постройки наиболее экологичны, они не наносят вреда
        среде. Современные технологии позволяют обрабатывать дерево очень экономично, практически безотходно,
        минимизируя таким образом опосредованные нагрузки на природу.
        <br>
        Дома, изготовленные нами, соответствуют самым высоким международным стандартам, как строительным, так и
        экологическим. Мы строго следим за соблюдением требований по охране окружающей среды на всех этапах
        производственного процесса.
        <br>
        <strong>Производство</strong>
        <br>
        Для обработки клееного бруса и сопутствующих материалов нами был создан современный деревообрабатывающий завод в
        Обнинске. Здесь из финского сырья создаются готовые дома, полностью соответствующие проектам. Готовые сборочные
        пакеты поставляются на площадку и там за короткое время превращаются в полноценные коттеджи.
        <br>
        Основная производственная линия – автоматизированный комплекс нового поколения, включающий строгальный и
        отделочный станки, предназначенные как для единичного, так и для поточного производства. Ее главное достоинство
        в точности, экономичности и бережной обработке древесины, позволяющей сохранить ее качества.
        <br>
        Весь процесс строительства, начиная от выбора материала и заканчивая отделочными работами, находится под строгим
        экспертным контролем.
    </div>
</div>
