<div class="jumbotron indent col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/rent/1.jpg" alt="...">
            </div>
            <div class="item">
                <img src="images/rent/2.jpg" alt="...">
            </div>
            <div class="item">
                <img src="images/rent/3.jpg" alt="...">
            </div>
            <div class="item">
                <img src="images/rent/4.jpg" alt="...">
            </div>
            <div class="item">
                <img src="images/rent/5.jpg" alt="...">
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <div class="text">Строительство всегда сопровождалось необходимостью в строительных лесах. Этот атрибут
        стройки известен всем, кто хоть чуть-чуть интересовался проведением работ на объектах.<br>
        <br>
        Вы решили начать строительство? Значит, вам нужны строительные леса аренда или покупка которых предлагается
        нашей компанией.<br>
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MXNUYv-B1ug"></iframe>
        </div>
        <br>
        Изначально строительные леса собирались из леса грубой обработки. Они были очень трудоемкими в монтаже и
        использовались практически одноразово. Однако прогресс не стоит на месте, современные технологии и
        материалы позволили создать легкие, передвижные строительные леса. Но и в таком виде данное строительное
        сооружение занимает много места при хранении и имеет значительную стоимость. Гораздо проще воспользоваться
        такой услугой как <strong>аренда строительных лесов в Минске</strong>. В этом случае вы получаете необходимое
        оборудование на срок строительства и после отпадения нужды в его использовании возвращаете владельцу.
        Проблема хранения исчезает. Такой сервис набирает популярность в современном строительстве. При этом
        аренда строительных лесов цена которой вполне приемлемая для арендатора, позволяет значительно сэкономить
        как денежные средства, так и время.<br>
        <br>
        Строительные леса по своей конструкции подразделяются на:
        <ul>
            <li>модульные;</li>
            <li>рамные;</li>
            <li>клиновые;</li>
            <li>хомутовые.</li>
        </ul>
        Определив параметры вашего строительного объекта и территорию его возведения, можно выбрать строительные
        леса аренда которых вас заинтересовала. Общеизвестно, что при строительстве загородного дома, коттеджа или
        дачного домика аренда строительных лесов в Минске - весьма выгодное решение, если сроки такой аренды не
        превышают 3 месяцев, в более долгосрочном использовании такого оборудования его целесообразней купить.
        <br>
        <br>
        На современном рынке аренды строительного оборудования существует значительная конкуренция. Компании,
        занимающиеся прокатом такого оборудования, заинтересованы в качественном инвентаре и долгосрочном его
        использовании. Наша компания успешно работает в этой сфере.<br>
        <br>
        Такая наша услуга как аренда строительных лесов цена за которые Вас удовлетворит, пользуется большим
        спросом среди застройщиков. Ведь сотрудничество выгодно и для арендатора, и для нас.<br>
        <br>
        Наше оборудование не лежит бесполезным грузом на складе, а клиент получает необходимое качественное
        приспособление для обеспечения строительства. Аренда – это выгодно, как экономически, так и практически.<br>
        <br>
        <strong>Звоните нам прямо сейчас – мы рады помочь вам успешно завершить стройку!</strong><br>
        </div>





</div>

<script>
    $('.carousel').carousel({
        interval: 2000
    })
</script>