<div class="jumbotron indent col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <img alt="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" src="images/transportation/12.png">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Дачный переезд</div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <img alt="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" src="images/transportation/13.png">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Офисный переезд</div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <img alt="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" src="images/transportation/14.png">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Перевозка мебели</div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <img alt="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" src="images/transportation/15.png">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Перевозка пианино</div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <img alt="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" src="images/transportation/16.png">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Перевозка грузов</div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <img alt="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" src="images/transportation/11.png">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Квартирный переезд</div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="text">
        Наша компания осуществляет грузоперевозки любой сложности и любых видов — грузов любых габаритов и на любое расстояние в любое время дня и ночи.
        <strong>Основными преимущества грузоперевозок</strong>:
        <strong>Педантичность </strong>в выполнении любого заказа.
        <strong>Пунктуальность </strong>во времени перевозки заказа.
        Ответственность перед каждым клиентом за невыполнение даже мельчайших условий заказа.
        <strong>Профессионализм </strong>водителей.
        <strong>Многолетний опыт грузоперевозок</strong> по РБ и РФ.
        Правильное планирование маршрута грузоперевозки.
        <strong>Надёжность </strong>грузовых автомобилей.
    </div>
</div>